## A module is transcompiled to a C# static class.
##
#set( $moduleName = $node.name )
#set( $moduleDeclarations = $template.visitAll($node.decls) )
##
using System;
using System.Diagnostics.Contracts;

namespace VdmToCSharp
{
    public static class $moduleName
    {
        #foreach( $declaration in $moduleDeclarations )
            $declaration
        #end
    }
}