## A record is transcompiled to a C# class.
##
#set( $recordName = $node.name )
#set( $recordFields = $template.visitAll($node.fields) )
#set( $recordMethods = $template.visitAll($node.methods) )
##
public sealed class $recordName : IEquatable<$recordName>
{
    #foreach( $field in $recordFields )
        $field
    #end

    #foreach( $method in $recordMethods )
        $method
    #end
}