#if( $node.namedInvType )
    #set( $type = $template.visit($node.namedInvType.name) )
#else
    #if( $node.optional )
        #set( $nullableSyntax = "?" )
    #else
        #set( $nullableSyntax = "" )
    #end
    #set( $type = "double$nullableSyntax" )
#end
##
$type