#set( $rootExpression = $template.visit($node.root) )
##
#set( $typeArgumentNodes = $transform.retainTypeArgExp($node.args) )
#if( $typeArgumentNodes.isEmpty() )
    #set( $typeArguments = "" )
#else
    #set( $typeArguments = "<" + $template.joinAll($typeArgumentNodes, ", ") + ">" )
#end
##
#set( $argumentNodes = $transform.removeTypeArgExp($node.args) )
#set( $arguments = $template.joinAll($argumentNodes, ", ") )
##
$rootExpression$typeArguments($arguments)